body {
    margin: 0;
    padding: 0;
    background-image: url('/src/img/background-formar2024.png'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%; /* Esto establece la altura del cuerpo al 100% del viewport height (altura de la ventana del navegador) */
    overflow: hidden; /* Esto evita que haya barras de desplazamiento */
    font-family: Arial, sans-serif; /* Puedes ajustar la fuente según tus preferencias */
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; /* O ajusta la altura según tus necesidades */
}

.form-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff; /* Agrega un fondo blanco o el color que desees */
    padding: 20px; /* Ajusta el espacio interno según tus necesidades */
    border-radius: 10px; /* Agrega esquinas redondeadas para un mejor aspecto */
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
}

/* Estilos adicionales para los elementos dentro del formulario, como logo, inputs, etc. */


.logo-Formar-2024 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo-Formar-2024 img {
    width: 80%; /* Ajusta el ancho del logo al 100% del contenedor */
    justify-content: center;
}

.input-container {
    margin-bottom: 15px; /* Ajusta el margen inferior según tus necesidades */
}

P {
    color: #008da5;
    margin-top: 30px;
    margin-bottom: 0;
}

.controls {
    display: flex;
    align-items: center;
    background-color: #fff; /* Color del fondo del botón */
    border: 2px solid #008da5; /* Color del borde del botón */
    color: #008da5; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 50px;
    overflow: hidden;
}

.icono {
    width: 30px; /* Ajusta el ancho del icono según tus necesidades */
    margin-right: 10px; /* Agrega un margen derecho entre el icono y el input */
}

input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.boton-start {
    text-align: center;
    margin-top: 60px;
}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff; /* Color del fondo del botón */
    border: 2px solid #008da5; /* Color del borde del botón */
    color: #008da5; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.boton-enlace:hover {
    background-color: #008da5; /* Color del fondo del botón al pasar el mouse */
    color: #fff;
}

.logo-container {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-container img {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    /* Estilos para pantallas más pequeñas */

    body {
        background-image: url('/src/img/background-formar2024-max-width600.jpg') !important; /* Cambia la imagen de fondo para pantallas más pequeñas */
        background-size: 100% !important;
        height: 80% !important;
    }

    .form-cont {
        background-color: rgba(255, 255, 255, 0.0) !important; 
        padding: 20px; 
        border-radius: 10px; 
        max-width: 300px; 
        margin-top: 50px;
        width: 100%;
    }

    .logo-Formar-2024 {
        display: flex;
        justify-content: center;
        margin-bottom: 0px !important;
    }

    .input-container {
        margin-bottom: 5px !important; 
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
   
    body {
        background-image: url('/src/img/background-formar2024-max-width1024.jpg') !important; /* Cambia la imagen de fondo para pantallas más pequeñas */
        background-size: 100% !important;
    }

    .form-cont {
        background-color: rgba(255, 255, 255, 0.0) !important; 
        padding: 20px; 
        border-radius: 10px; 
        max-width: 350px; 
        width: 100%;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
  }
  